Adam R.'s IESG DISCUSS and COMMENTS

----------------------------------------------------------------------
DISCUSS:
----------------------------------------------------------------------


> Thanks for the work that the authors and working group put into this document.
> I have one DISCUSS-level comment that should be very easy to resolve, and a small number of editorial nits.
> 
> ---------------------------------------------------------------------------
> 
> §9:
> 
> Since this specification is adding new endpoints under /.well-known/est, it needs to update the "Well-Known URIs" registry so that the entry for "est" indicates this document (in addition to RFC 7030).

That is a good point. We will make sure we add this in the IANA considerations. 



----------------------------------------------------------------------
COMMENT:
----------------------------------------------------------------------

> §5.3:

```
The Content-Format (HTTP Media-Type equivalent) of the CoAP message 
```

> HTTP doesn't have a "Media-Type" field. Presumably this intends to say "Content-Type"?

[pvds] 
s/(HTTP Media-Type equivalent)/(see section 5.5.1 of RFC7252)/

---------------------------------------------------------------------------

> §5.3:
 
```
Media-Types specified in the HTTP Content-Type header (Section 3.2.2
```

> Nit "...header field..."

---------------------------------------------------------------------------

> §5.5:

```
HTTP response code 202 with a Retry-After header in [RFC7030] has no
```

> Nit "...header field..."

--pvds--
s/header/ header field/

Changes committed in https://github.com/SanKumar2015/EST-coaps/commit/662752d2a725ee72a75af70c36a6379b5cc2d4ab

Uploaded in v-18

From Adam 1/6/2019 

> Thanks for addressing my discuss and comments!
