Alexey M.'s IESG DISCUSS and COMMENT

----------------------------------------------------------------------
DISCUSS:
----------------------------------------------------------------------
Alexey 

> 5.4.  Message Bindings
> 
>       The CoAP Options used are Uri-Host, Uri-Path, Uri-Port, Content-
>       Format, Block1, Block2, and Accept.  These CoAP Options are used
>       to communicate the HTTP fields specified in the EST REST messages.
>       The Uri-host and Uri-Port Options can be omitted from the COAP
>       message sent on the wire.
> 
> The statement above
> 
>       When omitted, they are logically
>       assumed to be the transport protocol destination address and port
>       respectively.  Explicit Uri-Host and Uri-Port Options are
>       typically used when an endpoint hosts multiple virtual servers and
>       uses the Options to route the requests accordingly.
> 
> and the last quoted statement: How can the sender know whether or not it is Ok to omit Uri-Host/Uri-Port?

JLS 
> That is the exact case that I was about to bring up.  Of course you can always send the SNI for TLS because there is lots of "space" in the TCP connection to hold it.  This is targeted at the case where you have multiple CoAP servers sitting on the same address/port pair.  I think this is going to be a very rare case as the use of an additional port or address is fairly simple and the savings on the wire of not including the host and port options can be significant.

Ben K. 
> How do you know when you need to send SNI to a TLS server?  "If you try without and get a strange certificate back."  

Alexey 
> I don't think this is similar. The answer for SNI is that you always include it, unless you don't care. 

Ben K. 
> I think that a similar situation is possible here, though of course you may just know from out-of-band configuration.

Alexey 
> I don't think this kind of attitude is friendly to implementors ;-). Are you really suggesting that implementations should try not to include these options and then retry if that doesn't work?
I am tempted to suggest that the text should be change to "SHOULD include Uri-Host and Uri-Port". Basically, if an implementation knows for sure that it is not needed, the SHOULD can be violated, but the recommended default is safe for all cases. 

Carsten 
> RFC 7252 says:
> 
```
   The default value of the Uri-Host Option is the IP literal
   representing the destination IP address of the request message.
   Likewise, the default value of the Uri-Port Option is the destination
   UDP port.  The default values for the Uri-Host and Uri-Port Options
   are sufficient for requests to most servers.  Explicit Uri-Host and
   Uri-Port Options are typically used when an endpoint hosts multiple
   virtual servers.
```
> 
> So there is a clear rule: If the URI has the IP address and port number (possibly defaulted), respectively, the options can be omitted.  This means you can almost always omit Uri-Port, and can omit Uri-Host if the URI had an IP address literal.  The latter is not unlikely if that URI came from a resource directory.  If the URI had a DNS name and you omit Uri-Host anyway, you are gambling that the server offers the same resource under the IP address the DNS name resolves to.  Not unlikely either, but still gambling, unless you have out-of-band information.  Now you might have verified the identity of the server already using a security protocol, in which case you could have more reason to believe you are addressing the right resource.
> 

Klaus H 
> I would prefer if draft-ietf-ace-coap-est didn't say anything here, since the Uri-Host and Uri-Port options and whether they should be omitted or not is entirely specified by CoAP [RFC7252]. In short, RFC 7252 specifies that Uri-Host and Uri-Port are omitted if and only if their respective default values are desired. t most, draft-ietf-ace-coap-est can give some implementation guidance. I don't really see why that's necessary, though, since the implementation of Uri-Host and Uri-Port is the same for all CoAP-based applications and not specific to EST. 

Carsten B 
> Klaus has an important point here. We need to be **much more** vigilant about specifications messing with their normative references.
Saying how they are used, yes, but re-stating (or, worse, re-interpreting) normative material from those references is prone to creating dialects that no longer interoperate with their unadulterated originals.  Unless these are hopelessly broken and this is the only way to fix them, this is a MUST NOT.  The normative reference EST has an example for that case: The use of content-transfer-encoding with HTTP, which is explicitly ruled out in Section 19.4.5 of RFC 2616 (and now appendix A.5 of RFC 7231).  That was a count of RFC 7030 messing with a normative reference, and in turn **needed** to be messed with in CoAP-EST (and eventually needs to be fixed in the parent specification, too).

[pvds]
Given Carsten's reminder a reference to section 5.10.1 of  RFC 7252 seems sufficient

[panos]
> We purposefully did not include normative language there. We just tried to explain the point of Uri-Host and Port in-line with what is in RFC7252 for the benefit of the reader. I don't think that our text deviated from the rational in RFC7252, but I see that it could cause confusion. So, instead we will just refer the reader to RFC7252 and not try to expand on Uri-Host and Port. 

[pvds]
> We had this discussion about this specific text several times.
> I like to keep at least some text for the following reason:
> Implementers, new to coap without a photographic memory of RFC7252 text, are surprised by the absence of uri host in the examples, and tend to assume an error.
> 
> The curent text does not look like a "normative rephrasing" to me. 
> Nevertheless, is the suggestion below acceptable to everyone?
> 
> OLD
> 
> The Uri-Host and Uri-Port Options can be omitted if they coincide
>    with the transport protocol destination address and port
>    respectively.  Explicit Uri-Host and Uri-Port Options are typically
>    used when an endpoint hosts multiple virtual servers and uses the
>    Options to route the requests accordingly.
> 
> NEW
> Section 5.10.1 of RFC7252 specifies that the Uri-Host and Uri-Port Options can be omitted if they coincide
>    with the transport protocol destination address and port
>    respectively. 
> 
> Other suggestions are welcome.

[Alexey] 
> Your suggested text is much better.

----------------------------------------------------------------------
COMMENT:
----------------------------------------------------------------------

5.1.  Discovery and URIs

   Clients and servers MUST support the short resource EST-coaps URIs.

Just to clarify: the original EST URIs are prohibited in COAP-EST?

My understanding is that the servers also have to support the original (long) EST paths.

[JLS] My understanding is that the short names MUST be supported.  Support for the long names is optional and would probably be implemented as aliases on the server side.  I would not expect clients to use the long names as they consume more network bandwidth (hence the short names).  A server is very likely to support both the long and short names if it is supporting both EST and COAP-EST.

[ Alexey ] I don't think this is clear, so it should be clarified in the document.

[PVDS} that is at least my inntentions as decribed by Jim.
I don't think there is a need to write that implementers can add the long names if they wish. 

----------------------------------------------------------------------
COMMENT:
----------------------------------------------------------------------

In 5.8:

   In the case where the asymmetric encryption key is suitable for
   transport key operations the generated private key is encrypted with
   a symmetric key which is encrypted by the client-defined (in the CSR)

I would break up this sentence into 2 to make it clearer, as I initially read this as 2 encryption operations applying to the generated private key itself.
So I suggest something like:

 In the case where the asymmetric encryption key is suitable for  transport key operations the generated private key is encrypted with  a symmetric key. The symmetric key itself is encrypted by the client-defined  (in the CSR)

   asymmetric public key and is carried in an encryptedKey attribute in
   a KeyTransRecipientInfo structure.

   Finally, if the asymmetric
   encryption key is suitable for key agreement, the generated private
   key is encrypted with a symmetric key which is encrypted by the
   client defined (in the CSR) asymmetric public key and is carried in
   an recipientEncryptedKeys attribute in a KeyAgreeRecipientInfo.

As above.

[PVDS}
s/ symmetric key which/symmetric key. The symmetric key itself/

----------------------------------------------------------------------
DISCUSS:
----------------------------------------------------------------------

7.  Parameters

   It is recommended, based on experiments,
   to follow the default CoAP configuration parameters ([RFC7252]).
   However, depending on the implementation scenario, retransmissions
   and timeouts can also occur on other networking layers, governed by
   other configuration parameters.  When a change in a server parameter
   has taken place, the parameter values in the communicating endpoints
   MUST be adjusted as necessary.

[ Ben K. ] The last sentence: use of MUST with passive voice is really unhelpful here.
Adjusted by whom? How can this MUST be satisfied?

[JLS]  My assumption is that is this going to be done either by a congestion protocol, a couple have been looked at in the CoRE working group.  It could
also be done by a provisioning agent or by a firmware update.   Lots of
options but no specific one is required. 

[ Alexey ] I think the text needs clarifying, as it is not clear on that. 

[pvds] MUST be adjusted by the installation managers 


From Alexey M. : 
> Hi Panos,
> 
> Yes, the changes look fine to me. I just cleared my DISCUSS.
> 
> Best Regards,
> Alexey


Uploaded in v-18