Unauthenticated cacerts?

Section 4.1.2 of RFC7030 (EST) says 
> The EST server SHOULD NOT require client authentication or authorization to reply to this request.

Would it make sense to let EST-coaps do unauthenticated cacerts requests?

Probably not. The cacerts responses are likely to be lengthy and fragmented. That way we are introducing an amplification attack where the attacker with little effort (unauthenticated cacerts request) can overload the constrained medium with a heavy cacerts response. 

In the whole EST-coaps we assume that endpoints do include some cert to authenticate, so we can demand them to put in the effort to complete the DTLS mutual auth before requesting a cacerts. 

In classic EST, the endpoint did not necessarily have a way to be authenticated by the server, so unauthenticated cacerts was allowed at least for the endpoint to get the trust anchors. 
