Persistent DTLS  (Jim's draft-ietf-ace-coap-est-07 WGLC review 1/17/2019)

Section 7 - I think it makes sense to say that after a successful enrollment the (D)TLS link MUST be torn down and the new certificate used to do authentication in the future.

Section 11.1 - When changing from the implicit trust anchor to explicit trust anchors, do you expect that the est server that you are going to be talking to is generally going to change?  I think that it should probably be recommended that the DTLS connection NOT be persistent across a change in the trust anchors if they are different.


I am thinking that in order to make it clearer we can add text to say that 
> After a cacerts you are expected to use the new trust anchor. If pipelining is used you MAY keep the connection open, but the client SHOULD still authenticate the server identity received during the DTLS handshake against the new trust anchor receive in response to a cacerts in the same connection. 

I'm really uncomfortable about forcing any new DTLS handshake.

I don't mind saying that the existing server certificate needs to be
validated against the new trust anchors.  But, what happens if it does not
validate?

--
]               Never tell me the odds!                 | ipv6 mesh networks [
]   Michael Richardson, Sandelman Software Works        |    IoT architect   [
]     mcr@sandelman.ca  http://www.sandelman.ca/        |   ruby on rails    [




As agreed. In Section 7 I added 

> In a constrained CoAP environment, endpoints can't always afford to establish a DTLS connection for every EST transaction. Authenticating and negotiating DTLS keys requires resources on low-end endpoints and consumes valuable bandwidth. The DTLS connection MAY remain open for sequential EST transactions. For example, an EST csrattrs request that is followed by a simpleenroll request can use the same authenticated DTLS connection. However, when a cacerts request is included in the set of sequential EST transactions, some additional security considerations apply regarding the use of the Implicit and Explicit TA database as explained in Section 11.1.

In Security Considerations I added 

> It is also RECOMMENDED that the Implicit Trust Anchor database used for EST server authentication be carefully managed to reduce the chance of a third-party CA with poor certification practices from being trusted. Disabling the Implicit Trust Anchor database after successfully receiving the Distribution of CA certificates response (Section 4.1.3 of [RFC7030]) limits any risk to the first DTLS exchange. Alternatively, in a case where a /sen request immediately follows a /crt, a client MAY choose to keep the connection authenticated by the Implicit TA open for efficiency reasons (Section 7). A client that pipelines EST-coaps /crt request with other requests in the same DTLS connection SHOULD revalidate the server certificate chain against the updated Explicit TA from the /crt response before proceeding with the subsequent requests. If the server certificate chain does not authenticate the client SHOULD close the connection without completing the rest of the requests. The updated Explicit TA MUST continue to be used in new DTLS connections.





