Section 9 table of CoAP parameters not needed (since default)

Because default CoAP parameters are used, the table can be removed entirely.  Rather, just point to RFC7252 for the CoAP parameters (and their defaults).

What can be mentioned is that when non-default parameters are configured on the server, the client must also configure these parameters. (to comply with RFC 7252 section 4.8.1 recommendation).


Don't understand the problem.
These numbers have been tested in implementations and are proven to
work.

Peter
Esko Dijk schreef op 2019-01-30 11:29:

> Even if not removing the entire table, the non-applicable parameters from the table should be removed and also not mentioned in the text. That would remove DEFAULT_LEISURE and PROBING_RATE parameters. Things that are not in scope need not be mentioned. 
> 
> --
> You are receiving this because you are subscribed to this thread.
> Reply to this email directly, view it on GitHub [1], or mute the thread [2].
 

Links:
------
[1]
https://github.com/SanKumar2015/EST-coaps/issues/113#issuecomment-458893450
[2]
https://github.com/notifications/unsubscribe-auth/AMWTQT3PAGmcgixGyL474lRI0tgJs4eXks5vIXQXgaJpZM4aZ5Yo

The problem is that there is unnecessary text in the current draft. There are many specifications that build upon CoAP, and usually none of these will mention the CoAP parameters because they will just use the default values. So doing this proposed change is in general good to keep the spec size as short as possible and save time for future readers. So, only non-default parameter values should be mentioned.

Confirming that the default value is a good value sounds like useful information to me.

Fixed 

> However, depending on the implementation scenario, retransmissions and timeouts can also occur on other networking layers, governed by other configuration parameters. A change in a server parameter MUST ensure the adjusted value is also available to all the endpointswith which these adjusted values are to be used to communicate.

Also removed table. 