Review By Esko 5/21/2019

* page 8 first bullet: a previously issues client certificate could also expire, in some cases even without the client knowing. If the client then performs simple re-enrollment -- using its previous operational cert as authentication, what would happen?  I would expect the server MAY also want to use this certificate to authenticate the client. Because the purpose of the client connecting again to the EST server is to do simple re-enrollment, to get a new certificate.   Suppose a case where the handshake to the EST server fails because the EST server rejects the expired operational cert:  what would the client do now? It could be a certificate_expired message.  RFC 7030 provides no guidance in this matter; would EST-coaps need to define this? E.g. client SHOULD retry using the bullet #2 certificate (e.g. IDevID)?

* page 8 middle: "CoAP and DTLS can provide proof-of-identity for EST-coaps clients and servers with simple PKI messages as described in Section 3.1 of [RFC5272] "
Looking up this section it says: "The Simple PKI Request MUST NOT be used if a proof-of-identity needs to be included."   This seems to say the opposite of the above text?  This requires at least some more explanation.

* page 8 middle: "Moreover, channel-binding information for linking proof-of-identity with connection-based proof-of-possession is OPTIONAL for EST-coaps"  -> is it OPTIONAL for client, server, or both? I would assume it is OPTIONAL for both. If the (light-weight) client does not implement it and if the server does mandate it, the client can not connect to that server if its policy is set to "linking POP/identity required".

* page 14 top bullet: "The CoAP Options used are .... " 
  -> the item Block could be expanded to "Block1, Block2" to capture the actual Option names.
  -> Location-Path is never used in any of the CoAP interactions defined; should be removed.

* Page 14 first 5.5 paragraph: "Similarly, 2.01, 2.02 or 2.04 MUST be used in response to EST POST requests"
  -> 2.01 Created is like HTTP 201, which is not used in EST - so can be removed here.
  -> 2.02 Deleted has no HTTP equivalent, so is not used in EST. It should be removed here.
  -> that leaves only 2.04 responses. However the text should say this is for successful (HTTP 200 or 202 in EST) responses , so suggestion is to change above sentence to: "Similarly, 2.04 MUST be used in a response to a successful EST POST request"

* page 14 bottom: "EST makes use of HTTP 204 and 404 responses when a resource is not  available for the client.  The equivalent CoAP codes to use in an EST-coaps responses are 2.04 and 4.04.  "
  -> CoAP 2.04 can only be used in responses to POST or PUT requests, not for GET responses.
  -> so in CoAP the server could either return 2.05 with empty payload (equivalent to HTTP 204), or return 4.04 (equivalent to HTTP 404)

* page 15 bottom: "The EST-coaps client and server MUST support Block2.  Block1 MUST be supported for EST-coaps enrollment requests that exceed the Path MTU."
  -> could be clarified better, I expect a EST-coaps server MUST support Block1 because that server doesn't know in advance how big the client's request payload is going to be and whether that client will use Block1.
  -> e.g. "The EST-coaps client and server MUST support Block2.  The EST-coaps server MUST support Block1. The EST-coaps client MUST support Block1 if it sends EST-coaps requests with an IP packet size that exceeds the Path MTU."

* page 16 example: the payloads are not indicating that each "{CSR req}" payload is different. I.e., a different block. It would be more clear if that is shown e.g. "{CSR 1}", "{CSR 2}", ... up to "{CSR N1+1}". The "req" string is not needed since the R in CSR already stands for request.

* page 17 example: see above payloads remark; and the following:
  --> what I find strange here is that a blockwise POST request ends with a 5.03 response, and then the same request after that gives a 2.01 response. In CoAP AFAIK, one request can never give 2 responses in sequence.
  --> once a response is delivered back to the client piggybacked on an ACK, the server closes the transaction normally and no further state for the transaction is kept.
  --> normally if a server sends 5.03 with Max-Age the client needs to send a new request i.e. retry with a new request after this waiting time.   That implies the client would need to resend the entire request: all blocks of it!
  --> I do realize that resending all blocks is very inefficient ; but at the same time the example also seems incompatible with CoAP specs.
  --> another question is why does the server use Block2 option in the 5.03 response that has no payload. In RFC 7959 Section 2.1, "the Block2 Option pertains to the response payload" and "payload-bearing responses". So it should be just left out in the response without payload I think.
  --> I understand this sequence of messages was tested using interops/code; was a specific CoAP library used that exhibits this behavior? I would be interested to understand better why this works.

Hope these comments can still be used for improvement of the spec. I will send further review comments in a next email: still need to write these down.

Addressing some of Esko's comments 

> * page 8 first bullet: a previously issues client certificate could also expire, in some cases even without the client knowing. If the client then performs simple re-enrollment -- using its previous operational cert as authentication, what would happen?  [...]

I don’t think EST-coaps should decide that. These are operational matters that exist in any protocol that uses TLS. It is matter of do you authenticate someone with an expired cert? HTTPS clients and servers have their own rules, EAP-TLS initiator/responder might have a different one. And if the client doesn't track his own certificate to renew it before it expires then this is an operational design to see how you go through the onboarding process again. EST, EST-coaps, SCEP, CMP etc don't really mess with those as different environments would do different things. We do caution about manufacturer certs though in the draft, because we know these could expire as they practically never die, so we caution about them in the draft for implementers to think about this beforehand. 

> * page 8 middle: "CoAP and DTLS can provide proof-of-identity for EST-coaps clients and servers with simple PKI messages as described in Section 3.1 of [RFC5272] "
> * page 8 middle: "Moreover, channel-binding information for linking proof-of-identity with connection-based proof-of-possession is OPTIONAL for EST-coaps"  -> is it OPTIONAL for client, server, or both?

Oh, yes. I meant to say section 2.1. I rephrased the text to 
>   As described in Section 2.1 of [RFC5272] proof-of-identity refers to
>   a value that can be used to prove that the private key corresponding
>   to the public key is in the possession of and can be used by an end-
>   entity or client.  Additionally channel-binding information can link
>   proof-of-identity with an established connetion.  Connection-based
>   proof-of-possession is OPTIONAL for EST-coap and servers.

> * page 14 top bullet: "The CoAP Options used are .... " 
>  -> the item Block could be expanded to "Block1, Block2" to capture the actual Option names.
>  -> Location-Path is never used in any of the CoAP interactions defined; should be removed.

Good catch, fixed. 

> * Page 14 first 5.5 paragraph: "Similarly, 2.01, 2.02 or 2.04 MUST be used in response to EST POST requests"
>   -> 2.01 Created is like HTTP 201, which is not used in EST - so can be removed here. 2.02 Deleted has no HTTP equivalent, so is not used in EST. It should be removed here. that leaves only 2.04 responses. However the text should say this is for successful (HTTP 200 or 202 in EST) responses , so suggestion is to change above sentence to: "Similarly, 2.04 MUST be used in a response to a successful EST POST request"

There is no direct 200 OK to 2.xx in COAP. We overrode the mappings in RFC8075 slightly to mandate 2.01 in response to a (re-)enroll/serverside keygen. That was there is a clear success code for those.  We use 2.01 multiple times in the examples. Based on the mappings in https://tools.ietf.org/html/rfc8075#section-7 2.02 is more correct, but 2.02 Delete does not seem right conceptually. These mappings are SHOULDs anyway. Create seemed better. 

> * page 14 bottom: "EST makes use of HTTP 204 and 404 responses when a resource is not  available for the client.  The equivalent CoAP codes to use in an EST-coaps responses are 2.04 and 4.04.  "
>  -> CoAP 2.04 can only be used in responses to POST or PUT requests, not for GET responses.
>  -> so in CoAP the server could either return 2.05 with empty payload (equivalent to HTTP 204), or return 4.04 (equivalent to HTTP 404)

We have a gap for GET (cacerts, csrattributes). In these cases EST allows 204 and 404. So, to avoid the confusion, we will mandate 4.04 for failed EST-coaps requests. 2.05 is supported in RFC7252 for successful requests, not failures. Now that mention it, I went in and updated the section to make it clearer. It now reads 
>   Section 5.9 of [RFC7252] and Section 7 of [RFC8075] specify the
>   mapping of HTTP response codes to CoAP response codes.  The success
>   code in response to an EST-coaps GET request (/cacerts, /csrattrs),
>   is 2.05.  Similarly, 2.01 is used in response to EST-coaps POST
>   requests (/simpleenroll, /simplereenroll, /serverkeygen).  Section 7
>   of [RFC8075] maps 2.02 (Deleted) or 2.04 (Changed) to an HTTP 200 OK
>   response, but 2.01 (Created) is more suitable for the creation of
>   certificates in the context of EST-coaps.
>
>   EST makes use of HTTP 204 responses when a resource is not available
>   for the client. 2.04 SHOULD only be used in response to an EST-coaps
>   POST when the response comes delayed in a separate (not Piggybacked)
>   message after an empty 0.00 message (Section 5.7)
>
>   HTTP response code 202 with a Retry-After header in [RFC7030] has no
>   equivalent in CoAP.  HTTP 202 with Retry-After is used in EST for
>   delayed server responses.  Section 5.7 specifies how EST-coaps
>   handles delayed messages with 5.03 responses with Max-Age Option.
>
>   Additionally, EST's HTTP 400, 401, 403, 404 and 503 status codes have
>   their equivalent CoAP 4.00, 4.01, 4.03, 4.04 and 5.03 response codes
>   respectively in EST-coaps.  In case a CoAP Option is unrecognized and
>   critical, the server is expected to return a 4.02 (Bad Option).
>   Table 3 summarizes the EST-coaps response codes.
>
>   +---------------+---------------+-----------------------------------+
>   | operation     | EST-coaps     | Description                       |
>   |               | response code |                                   |
>   +---------------+---------------+-----------------------------------+
>   | /crts, /att   | 2.05          | Sucess. Certs included in the     |
>   |               |               | response payload.                 |
>   |               | 4.xx          | Failure.                          |
>   | /sen, /skg,   | 2.01          | Sucess. Cert included in the      |
>   | /sren, /skc   |               | response payload.                 |
>   |               | 2.04          | Sucess. Cert included in the      |
>   |               |               | delayed separate response         |
>   |               |               | payload.                          |
>   |               | 5.03          | Retry in Max-Age Option time.     |
>   |               | 4.xx          | Failure.                          |
>   | [ Any ]       | 4.02          | Unrecognized Option               |
>   +---------------+---------------+-----------------------------------+
>
>                     Table 3: EST-coaps response codes


> * page 15 bottom: "The EST-coaps client and server MUST support Block2.  Block1 MUST be supported for EST-coaps enrollment requests that exceed the Path MTU."
>   -> e.g. "The EST-coaps client and server MUST support Block2.  The EST-coaps server MUST support Block1. The EST-coaps client MUST support Block1 if it sends EST-coaps requests with an IP packet size that exceeds the Path MTU."

Looks good. I made the change. 

> * page 16 example: the payloads are not indicating that each "{CSR req}" payload is different. I.e., a different block. It would be more clear if that is shown e.g. "{CSR 1}", "{CSR 2}", ... up to "{CSR N1+1}". The "req" string is not needed since the R in CSR already stands for request. 

Agreed. Fixed both examples in this section to show we are talking about fragments, not a whole CSR and response. 


* page 17 example: see above payloads remark; and the following:
>   --> what I find strange here is that a blockwise POST request ends with a 5.03 response, and then the same request after that gives a 2.01 response. In CoAP AFAIK, one request can never give 2 responses in sequence.
Yes, this was a little weird. It is the special case of. We went through it with Carsten and it complies with COAP. Carsten can challenge me if I am wrong. 
  --> once a response is delivered back to the client piggybacked on an ACK, the server closes the transaction normally and no further state for the transaction is kept.
  --> normally if a server sends 5.03 with Max-Age the client needs to send a new request i.e. retry with a new request after this waiting time.   That implies the client would need to resend the entire request: all blocks of it!
  --> I do realize that resending all blocks is very inefficient ; but at the same time the example also seems incompatible with CoAP specs.
  --> another question is why does the server use Block2 option in the 5.03 response that has no payload. In RFC 7959 Section 2.1, "the Block2 Option pertains to the response payload" and "payload-bearing responses". So it should be just left out in the response without payload I think.
  --> I understand this sequence of messages was tested using interops/code; was a specific CoAP library used that exhibits this behavior? I would be interested to understand better why this works.

A bit more feedback from Esko: 

>   mapping of HTTP response codes to CoAP response codes.  The success
>   code in response to an EST-coaps GET request (/cacerts, /csrattrs),
>   is 2.05.  Similarly, 2.01 is used in response to EST-coaps POST
>   requests (/simpleenroll, /simplereenroll, /serverkeygen).  Section 7
>   of [RFC8075] maps 2.02 (Deleted) or 2.04 (Changed) to an HTTP 200 OK
>   response, but 2.01 (Created) is more suitable for the creation of
>   certificates in the context of EST-coaps.

-> 2.01 Created is now used as POST response.  While I agree that it sounds more logical to use 2.01 than 2.04 (since a certificate is created by the server, based on the CSR), there is the CoAP level expectation that when using 2.01 the resource is created at the location of the request - that is, for example, at /sen. So if the client would do a GET /sen it would get the actual previously created certificate. (Which is not the case.) The text in RFC 7252 that states this is "Otherwise, the resource was created at the request URI."   So 2.01 is used to create new CoAP *resources* that can be found at the server using a subsequent GET request. And 2.04 is used to execute actions like 'create x' , the result of which is returned in the response but otherwise not available anywhere on the server anymore. The latter is the case in the EST-coaps protocol flow as there's no way to GET the resulting certificate later on.
-> the resources in brackets should now be the short resource names, since we talk about EST-coaps resources not EST resources anymore. So "GET request (/crts, /att)" etc.

>  "EST makes use of HTTP 204 responses when a resource is not available for the client."

-> EST states either 204 or 404 can be used; which in CoAP translates to 4.04 Not Found  if the resource is not available to the client, i.e. does not exist. That seems the easiest translation here. Though the server could also send 2.05 with an empty zero-length payload, to express that it has that function available but there is "nothing" there for the client.

>   2.04 SHOULD only be used in response to an EST-coaps
>   POST when the response comes delayed in a separate (not Piggybacked)
>   message after an empty 0.00 message (Section 5.7)

-> this seems strange, the response code remains the same whether separate response or piggybacked response is used. At this level of request/response, there's no need to try to detail this. I feel it only makes it more complex; the base CoAP protocol should handle piggybacked vs separate for both client and server. (Without impact on response codes).

In Table 3: the "4.xx" can be "4.xx / 5.xx" because the 5.xx failures can also occur in any CoAP server in principle.  I don't really see why 4.02 should be mentioned separately? It again is defined in the base CoAP spec and not really of interest for EST-coaps, nor used by any definitions or examples in the current specification.


Addressing Esko's feedback. 

> -> 2.01 Created is now used as POST response. While I agree that it sounds more logical to use 2.01 than 2.04 (since a certificate is created by the server, based on the CSR), there is the CoAP level expectation that when using 2.01 the resource is created at the location of the request - that is, for example, at /sen. So if the client would do a GET /sen it would get the actual previously created certificate. (Which is not the case.) The text in RFC 7252 that states this is "Otherwise, the resource was created at the request URI." So 2.01 is used to create new CoAP _resources_ that can be found at the server using a subsequent GET request. And 2.04 is used to execute actions like 'create x' , the result of which is returned in the response but otherwise not available anywhere on the server anymore. The latter is the case in the EST-coaps protocol flow as there's no way to GET the resulting certificate later on.


> -> the resources in brackets should now be the short resource names, since we talk about EST-coaps resources not EST resources anymore. So "GET request (/crts, /att)" etc. 

Good point, fixed. 

> -> EST states either 204 or 404 can be used; which in CoAP translates to 4.04 Not Found if the resource is not available to the client, i.e. does not exist. That seems the easiest translation here. Though the server could also send 2.05 with an empty zero-length payload, to express that it has that function available but there is "nothing" there for the client.

Yes. I don't want to swap 204 with 2.05 in EST-coaps, it seemed counter-intuitive and confusing. Generally speaking, in this context we don't expect a success response without a payload, so even in plain EST 204 was not a commonly occurring type of response. 404 is a more commonly occurring type of failure for the server. So I can live with no equivalent in EST-coaps for the sake of sanity. 

> -> this seems strange, the response code remains the same whether separate response or piggybacked response is used. At this level of request/response, there's no need to try to detail this. I feel it only makes it more complex; the base CoAP protocol should handle piggybacked vs separate for both client and server. (Without impact on response codes).



> In Table 3: the "4.xx" can be "4.xx / 5.xx" because the 5.xx failures can also occur in any CoAP server in principle. I don't really see why 4.02 should be mentioned separately? It again is defined in the base CoAP spec and not really of interest for EST-coaps, nor used by any definitions or examples in the current specification.

Makes sense. I put in 4.xx / 5.xx and removed the 4.02 row. 




Addressed in two commits 4ad5210 and ace7541 .