tls-exporter vs tls-unique (Jim's draft-ietf-ace-coap-est-07 WGLC review 1/17/2019)

> Section 7 - I would like to see some discussion of using a tls-exporter rather than tls-unique for this protocol.  I am not sure what the required changes would be.  I have seen notes that tls-unique is broken for TLS 1.2.


What is the suggestion? No extra text, because this is a general problem that needs an independent solution?

This was discussed before for TLS 1.3  (https://mailarchive.ietf.org/arch/msg/tls/-8rDHLR6hiR7wsLsf6nVLtqCCmU ) but we can't really mandate using a TLS exporter for tls-unique as this is not standardized anywhere. If there was an 5705-bis to update the tls-unique in order to address the risk and use an exporter then this draft would automatically inherit it. 

Note that the implications of 3SHAKE were significant to TLS because the clients were not checking the server cert after the renegotiation (Step 3 of the paper).  The implication to POP linking that EST-coaps uses though is minimal because it does not expose anything private, it just deems channel binding useless. 

To address the concern I added text in the Security Considerations 

> What's more, POP linking uses tls-unique as it is defined in [RFC5929]. The 3SHAKE attack [tripleshake] poses a risk by allowing a man-in-the-middle to leverage session resumption and renegotiation to inject himself between a client and server even when channel binding is in use. The attack was possible because of certain (D)TLS implementation imperfections. In the context of this specification, an attacker could invalidate the purpose of the POP linking ChallengePassword in the client request by resuming an EST-coaps connection. Even though the practical risk of such an attack to EST-coaps is not devastating, we would rather use a more secure channel binding mechanism. Such a mechanism could include an updated tls-unique value generation like the tls-unique-prf defined in [I-D.josefsson-sasl-tls-cb] by using a TLS exporter [RFC5705] in TLS 1.2 or TLS 1.3's updated exporter (Section 7.5 of [RFC8446]). Such mechanism has not been standardized yet. Adopting in this document a channel binding value generated from an exporter would break backwards compatibility. Thus, in this specification we still depend in the tls-unique mechansim defined in [RFC5929], especially since the practicallity of such an attack would not expose any messages exchanged with EST-coaps.


Jim seemed to fine with this. Closing. 