/skg protection issues (by Siemens)

Sections 5.2.1 and 10.1 in [1] introduce the content format id value 284 for the private key portion in the /skg response. This refers to PKCS#8 objects (“…include a private key in  PKCS#8 with content format ID 284…”). [3] also recognizes 284 as reference to PKCS#8 objects (application/pkcs8). But section 5.6 in [1] suggests the private key object to be provided in form of cmsEnvelopedData(cmsSignedData(PKCS#8)) (“…The private key is placed inside of a CMS SignedData…. The SignedData is further protected by placing it inside of a  CMS EnvelopedData….”). A metadata item that refers to (plain/raw) PKCS#8 appears misleading for this purpose. 

Also note: for the purpose of privat key protection, [2] relies on 2 MIME types 
-	application/pkcs8 for (plain/raw) private keys protected on layer 5 (TLS) and 
-	application/pkcs7-mime for private keys protected on layer 7 (CMS i.e. structs of type cmsEnvelopedData(cmsSignedData(PKCS#8))
But [1] does not (seem to) support of private key protection on layer 5 (DTLS) only - see below too

Smallprint
[2] explicitly states “…the server MUST ignore the public key values and signature in the CSR”. [1] is silent about this. An explicit statement whether the same clause applies to EST-coaos is preferred. 

Wording
[2] supports private key protection on layer 5 (TLS) as well as on layer 7 (CMS). [1] appears to narrow this choice down to the latter and requires private key protection on layer 7 (CMS) – at least this is my current interpretation of [1]. But the mapping between [1] and [2] is hard because of:
- [2] recognizes 2 families of private key protection: basic=by means of layer 5 (TLS) and additional=by means of layer 7 (CMS). The second family is recognized to have 3 family members (“In all three additional encryption cases…” and “…client specified a symmetric encryption key…”, “…client specified an asymmetric encryption key suitable for key transport…”, “…client specified an asymmetric encryption key suitable for key agreement…”)
- [1] drops private key protection on layer 5 (DTLS) but is not explicit on that (see below). [1] distinguishes the additional option according  to 2 family members “The specification provides two methods to encrypt the generated key, symmetric and asymmetric” instead 3
It would be preferred if [1] makes more use of structure given in [2] and explain its design decisions relative to the (given) structure 

Rationale
No rationale is given for the (apparent) elimination of the option to protect the private key on layer 5 (DTLS) only. Q: does this address the support of CoAP/HTTP proxying (avoiding that proxies can grab the private key value easily)?

Generalization
(Assuming the rationale for eliminating the private key protection on layer 5 (DTLS) is: support of CoAP/HTTP proxying) This presents a burden for deployments that do not make use of CoAP/HTTP proxying (for instance: this is a preference in our project). A requirement in style of the following would be preferred: “the private key must be protected. This can be done by means of A or B. If a CoAP/HTTP proxy is employed then the protection must be done by B” 

[1] EST over secure CoAP (EST-coaps), draft-ietf-ace-coap-est-06, https://tools.ietf.org/html/draft-ietf-ace-coap-est-06
[2] Enrollment over Secure Transport, RFC 7030, https://tools.ietf.org/html/rfc7030 
[3] https://www.iana.org/assignments/core-parameters/core-parameters.xhtml 


Summary of things to change for this issue: 
- Update sections 5.2.1 to spell out PKCS#8 details.
- See if in 10.1 we need to remove 282 and 283. 
- Update section 5.6 to spell out the encryption option, what is MTI (assuming /skg needs to be implemented) and what is not. Add 580 as the option for encrypted key and spell out the three encryption options. Spell out that the MTI is PKCS8 and for DTLS proxies terminating the connection like Registrars then 280 MAY be used. 
- Also spell out that "the server MUST ignore the public key values and signature in the CSR. 
- Make TBD8 into 62 from application/multipart-core  in https://www.iana.org/assignments/core parameters/core-parameters.xhtml. Ad 62 in section 10.1 table too. 
- Add reference to https://www.iana.org/assignments/core-parameters/core-parameters.xhtml in section 10.1

Most already fixed. What is left to fix is to update section 5.6 to 
- spell out Content-Format 280 for encrypted keys and describe the three encryption options. Say how public keys are added in the CSR as explained in RFC7030 Section 4.4. 
- spell out that the MTI is PKCS8 and for DTLS proxies terminating the connection like Registrars then 280 MAY be used. 

Ready to close this one when interop peers approve. 

No response from interop peers. Assuming it looks good. Consider this issue closed. 