Nits (Esko 1/23/2019)

1. Section 5.4: "The equivalent CoAP error code to use in an EST-coaps responses are 2.04 ..." -> 2.04 is a success code, not an error.

2. Section 5.6: "According to section 5.2.2 of [RFC7252], a slow server can acknowledge the request with a 2.31 code" -> 2.31 is not specified in RFC 7252.


> > 1. he equivalent CoAP error
It was already fixed in the text. 

> > 2. Section 5.6: "According to section 5.2.2 of [RFC7252], a slow server can acknowledge the request with a 2.31 code" -> 2.31 is not specified in RFC 7252.

Addressed, remove 2.31 as it didn't apply here. 
> According to section 5.2.2 of [RFC7252], a slow server can acknowledge the request with and respond later with the requested resource representation.

Addressed in commit# 9d8735e